<div style="float:right;">
  <%= link_to "&laquo;Back to list".html_safe, users_yardsales_path %>
</div>

<h2>Create new Yardsale Event!</h2>
<div class="container">
  <%= form_for @yardsale, :url => {:controller => 'users/yardsales', :action => 'create'} do |f| %>
    <%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</div>